.tweet-container {
  width: 550px;
  height: fit-content;
  margin: auto;
}

.tag {
  margin-top: 10px;
  margin-right: 10px;
}

button {
  font-size: 0.5em;
  margin-top: 15px;
  margin-right: 5px;
}