.tweet-card {
  min-width: 500px;
  margin: 20px;
}

.chip-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 10px;
}

.embed-container {
  margin: 0 auto;
  width: 500px;
}

.spin-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 25px;
}

.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  transition-duration: 0.3s;
  transition-property: transform;
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
  transform: scale(1.1);
}

