.btn-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0 10px;
}

.card-container {
  height: 100%;
  margin: 0 auto 10px;
}

.tweet-container {
  margin: auto;
}

.image {
  display: block;
  margin: 10px auto;
  width: 250px;
  border-radius: 100px;
  position: relative;
}