<mat-card class="tweet-card">
  <mat-card-content>
    <div class="embed-container">
    <ngx-tweet tweetId="921670221710032896"></ngx-tweet>
  </div>
  </mat-card-content>
  <mat-card-actions>
    <div class="chip-container">
      <mat-chip-list>
        <mat-chip matTooltip="Mentioned company" color="primary" selected>Apple</mat-chip>
        <mat-chip matTooltip="Negative sentiment" color="warn" selected>Bearish</mat-chip>
        <mat-chip matTooltip="Beginning of day price" color="primary">BOD - $56.55</mat-chip>
        <mat-chip matTooltip="End of day price" color="primary">EOD - $233.22</mat-chip>
        <mat-chip matTooltip="Percentage change" color="primary">Change - 5%</mat-chip>
      </mat-chip-list>
    </div>
  </mat-card-actions>
</mat-card>

<div class="btn-container">
  <button mat-flat-button color="accent">Load More</button>
</div>
