
 <div class="image animate__animated animate__fadeIn" *ngIf="loading">
   <p><i>Fetching tweets</i></p>
  <ng-lottie class="pos" [options]="options">
  </ng-lottie>
</div>

<div class="main-container animate__animated animate__fadeIn" *ngIf="!loading">
  <div class="tweet-container">
    <div class="p-justify-center">
      <div *ngFor="let tweet of tweets | slice:0:idx">
        <div class="card-container">
          <app-tweet-card [tweet]=tweet></app-tweet-card>
        </div>
      </div>
    </div>
  </div>
  <div class="btn-container">
    <button pButton type="button" (click)="loadMore()" icon="pi pi-plus"
      class="p-button-text p-button-rounded"></button>
  </div>
</div>
