
.item-container {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

a:link {
  text-decoration: none;
  color: #343434;
}

.title-block {
  margin: 50px 0 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.spin-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 25px;
}
