/* You can add global styles to this file, and also import other style files */
@import '../node_modules/font-proxima-nova/style.css';

* {
  font-family: "Proxima Nova Rg";
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
}

.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  transition-duration: 0.3s;
  transition-property: transform;
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
  transform: scale(1.1);
}
