.profile-card {
  max-width: 400px;
  margin: 15px;
}

.profile-image {
  background-image: url('https://webstockreview.net/images/president-clipart-cartoon-donald-trump.png');
  background-size: cover;
}
